*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-horizontal{
    display: flex;
    flex-direction: row;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
}
.screen{

width: 100%;
}
main{
    
    width: 100%;
}
.pointer{
    cursor: pointer;
}